# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Poetry
poetry.lock

# Docker
*.dockerignore

# Database
*.sqlite3

# Media
web/app/static/media/*

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Misc
*.log
*.bak
*.swp
.DS_Store
